/* principal-blue: #084c85
   backgroud-gray: #f9f9f9
   icon-gray: #dadbdb
   text-black: #575657
   font-montserrat */

/* el grid también puede usar aling items y justify content, pero por defecto controla
 el contenido de manera vertical y horizontal respectivamente  */

 /* tenemos tambien el aling self y justify self, que sirvem para manejar de manera distinta 
 a un hijo, pero en flex no se puede usar justify (organización horizontal) */

/* principales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Times, serif;
    color: #575657;
    max-width: 100vw;
    min-height: 100vh;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: solid 3px#0c6cba;
}
footer{
    background-color: #252525;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    width: 100%;
}

/* contenedores */
.contenedor-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 0 rgba(0,0,0,0.2);

    transition: box-shadow 0.8s ease;

    border-radius: 8px;
}
#primera-linea{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 5px 30px;
    background-color: white;
}

#segunda-linea{
    background-color: #084c85;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 50px;
    padding: 5px 50px;
}
#segunda-linea a{
    text-decoration: none;
    color: white;
    padding: 10px 0;
}
.contenedor-escudo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: auto;
    justify-self: start;
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
}
.iconos:hover{
    cursor: pointer;
}
#contenedor-editable-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border: solid 2px #a0a0a0 ;
    border-radius: 30px;
    
    width: 100%;
}
#contenedor-preliminar{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

#parte-izquierda{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}
#redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.link-red{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    text-decoration: none;
    color: white;
}
.link-red:hover{
    text-decoration: underline;
}
#menu-lateral{
    height: 100vh;
    width: 250px;
    right: -250px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    position: fixed;

    transition: right 0.8s ease;
    background-color: white;
    color: #252525;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    z-index: 1000;

}
#menu-lateral.aparece{
    right: 0;
    z-index: 1000;
}

.contenedor-principal-informacion{
    display: grid;
    columns: 1fr;
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px 45px;
}
@media (min-width: 768px) {
    .contenedor-principal-informacion{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }
    .contenedor-informacion{
        flex-basis: 300px;
        height: auto;
    }

}



/* Adicionales */
.foto-persona{
    border-radius: 50%;
    max-width: 70px;
    width: 100%;
    height: auto;
    border: solid 2px white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
.boton-ver{
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #084c85;
    color: white;
    padding: 5px 25px;

    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    transition: box-shadow 0.5s ease;
}
.boton-ver:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
.escudo{
    width: 50px;
}
#menu-burger{
    justify-self:end;
}
.contenedor-informacion:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#contenedor-titulo-main{
    text-align: center;
}
#input-busqueda{
    outline: none;
    border: none;
    background:none;
    width: 100%;
}
#boton-modo-oscuro{
    background-color: #084c85;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 20px;
}

h1{
    font-size: clamp(0.938rem, 1vw + 1rem, 1.875rem);
}
h2{
    font-size: clamp(0.938rem, 1vw + 1rem, 1.563rem);
}
h3{
    font-size: clamp(0.813rem, 0.5vw + 1rem, 1.25rem);
}